#/src/
#/tsconfig.json
#/webpack.config.js
#/.babelrc
#/.eslintrc
#test*
#tempst*
#/.gitignore
#/rollup.config.ts
#/.rpt2_cache/
#/dist/lib
#/coverage/

*
!/package.json
!/package-lock.json
!/node_modules/
!/LICENSE
!/dist/types/
!/dist/*.js/
!/dist/*.js.map/
